
/* For Webkit-based browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #111; /* Dark background */
}

::-webkit-scrollbar-thumb {
    background: #444; /* Dark gray scrollbar */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #666; /* Slightly lighter gray on hover */
}

/* For Firefox */
* {
    scrollbar-color: #444 #111; /* Thumb color, Track color */
}

/* table tbody {
    @apply xl:max-h-[calc(100vh-280px)] 2xl:max-h-[calc(100vh-260px)] pb-24;
} */

.table-container {
    @apply text-custom-white;
    width: 100%;
    overflow: auto;
  
    table {
        width: 100%;
        border-collapse: collapse;
        
        border-spacing: 0 1px;
        border-collapse: separate;
  
        tr {
            position: relative;
        }
  
        tr th{
            @apply px-1 py-3 border-b border-white/15;
        }
  
        tr th:first-child{
            @apply pl-2 sm:pl-4;
        }
  
        tr td{
            @apply px-1 sm:px-2 py-2 text-[#DEDEDE] border-b border-white/10;
        }

        tbody tr:last-child td{
            @apply border-none;
        }

    }
}
